@tailwind base;

@tailwind components;

@tailwind utilities;

.bg-teller {
    background-color: #fff;
    background-image: url(../images/7e50ac8.webp)
}

.comment-area-bg {
    background-image: url(../images/foo.webp);
    background-repeat: no-repeat;
    background-position-x: 200px;
    background-position-y: center
}

.profile-photo {
    width: 100px;
    height: 100px
}

.minimize-height {
    min-height: 370px
}

.center-dropdown {
    left: -50%
}

.bg-blog-card {
    min-height: 258px;
    max-height: 258px;
    min-width: 540px;
    max-width: 540px
}

.teller-rate-star {
    color: #a3213f
}

.font-color,
.rate-passive {
    color: #9c9c9c
}

.svg-inline--fa,
svg:not(:root).svg-inline--fa {
    overflow: visible
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    vertical-align: -.125em
}

.svg-inline--fa.fa-lg {
    vertical-align: -.225em
}

.svg-inline--fa.fa-w-1 {
    width: .0625em
}

.svg-inline--fa.fa-w-2 {
    width: .125em
}

.svg-inline--fa.fa-w-3 {
    width: .1875em
}

.svg-inline--fa.fa-w-4 {
    width: .25em
}

.svg-inline--fa.fa-w-5 {
    width: .3125em
}

.svg-inline--fa.fa-w-6 {
    width: .375em
}

.svg-inline--fa.fa-w-7 {
    width: .4375em
}

.svg-inline--fa.fa-w-8 {
    width: .5em
}

.svg-inline--fa.fa-w-9 {
    width: .5625em
}

.svg-inline--fa.fa-w-10 {
    width: .625em
}

.svg-inline--fa.fa-w-11 {
    width: .6875em
}

.svg-inline--fa.fa-w-12 {
    width: .75em
}

.svg-inline--fa.fa-w-13 {
    width: .8125em
}

.svg-inline--fa.fa-w-14 {
    width: .875em
}

.svg-inline--fa.fa-w-15 {
    width: .9375em
}

.svg-inline--fa.fa-w-16 {
    width: 1em
}

.svg-inline--fa.fa-w-17 {
    width: 1.0625em
}

.svg-inline--fa.fa-w-18 {
    width: 1.125em
}

.svg-inline--fa.fa-w-19 {
    width: 1.1875em
}

.svg-inline--fa.fa-w-20 {
    width: 1.25em
}

.svg-inline--fa.fa-pull-left {
    margin-right: .3em;
    width: auto
}

.svg-inline--fa.fa-pull-right {
    margin-left: .3em;
    width: auto
}

.ml-inp {
    margin-left: 280px;
}

.svg-inline--fa.fa-border {
    height: 1.5em
}

.svg-inline--fa.fa-li {
    width: 2em
}

.svg-inline--fa.fa-fw {
    width: 1.25em
}

.fa-layers svg.svg-inline--fa {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.fa-layers {
    display: inline-block;
    height: 1em;
    position: relative;
    text-align: center;
    vertical-align: -.125em;
    width: 1em
}

.fa-layers svg.svg-inline--fa {
    transform-origin: center center
}

.fa-layers-counter,
.fa-layers-text {
    display: inline-block;
    position: absolute;
    text-align: center
}

.fa-layers-text {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center center
}

.fa-layers-counter {
    background-color: #ff253a;
    border-radius: 1em;
    box-sizing: border-box;
    color: #fff;
    height: 1.5em;
    line-height: 1;
    max-width: 5em;
    min-width: 1.5em;
    overflow: hidden;
    padding: .25em;
    right: 0;
    text-overflow: ellipsis;
    top: 0;
    transform: scale(.25);
    transform-origin: top right
}

.fa-layers-bottom-right {
    bottom: 0;
    right: 0;
    top: auto;
    transform: scale(.25);
    transform-origin: bottom right
}

.fa-layers-bottom-left {
    bottom: 0;
    left: 0;
    right: auto;
    top: auto;
    transform: scale(.25);
    transform-origin: bottom left
}

.fa-layers-top-right {
    right: 0;
    top: 0;
    transform: scale(.25);
    transform-origin: top right
}

.fa-layers-top-left {
    left: 0;
    right: auto;
    top: 0;
    transform: scale(.25);
    transform-origin: top left
}

.fa-lg {
    font-size: 1.33333em;
    line-height: .75em;
    vertical-align: -.0667em
}

.fa-xs {
    font-size: .75em
}

.fa-sm {
    font-size: .875em
}

.fa-1x {
    font-size: 1em
}

.fa-2x {
    font-size: 2em
}

.fa-3x {
    font-size: 3em
}

.fa-4x {
    font-size: 4em
}

.fa-5x {
    font-size: 5em
}

.fa-6x {
    font-size: 6em
}

.fa-7x {
    font-size: 7em
}

.fa-8x {
    font-size: 8em
}

.fa-9x {
    font-size: 9em
}

.fa-10x {
    font-size: 10em
}

.fa-fw {
    text-align: center;
    width: 1.25em
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0
}

.fa-ul>li {
    position: relative
}

.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit
}

.fa-border {
    border: .08em solid #eee;
    border-radius: .1em;
    padding: .2em .25em .15em
}

.fa-pull-left {
    float: left
}

.fa-pull-right {
    float: right
}

.fa.fa-pull-left,
.fab.fa-pull-left,
.fal.fa-pull-left,
.far.fa-pull-left,
.fas.fa-pull-left {
    margin-right: .3em
}

.fa.fa-pull-right,
.fab.fa-pull-right,
.fal.fa-pull-right,
.far.fa-pull-right,
.fas.fa-pull-right {
    margin-left: .3em
}

.fa-spin {
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite
}

.fa-pulse {
    -webkit-animation: fa-spin 1s steps(8) infinite;
    animation: fa-spin 1s steps(8) infinite
}

@-webkit-keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

@keyframes fa-spin {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.fa-rotate-90 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
    transform: rotate(90deg)
}

.fa-rotate-180 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
    transform: rotate(180deg)
}

.fa-rotate-270 {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
    transform: rotate(270deg)
}

.fa-flip-horizontal {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
    transform: scaleX(-1)
}

.fa-flip-vertical {
    transform: scaleY(-1)
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical,
.fa-flip-vertical {
    -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"
}

.fa-flip-both,
.fa-flip-horizontal.fa-flip-vertical {
    transform: scale(-1)
}

:root .fa-flip-both,
:root .fa-flip-horizontal,
:root .fa-flip-vertical,
:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270 {
    -webkit-filter: none;
    filter: none
}

.fa-stack {
    display: inline-block;
    height: 2em;
    position: relative;
    width: 2.5em
}

.fa-stack-1x,
.fa-stack-2x {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0
}

.svg-inline--fa.fa-stack-1x {
    height: 1em;
    width: 1.25em
}

.svg-inline--fa.fa-stack-2x {
    height: 2em;
    width: 2.5em
}

.fa-inverse {
    color: #fff
}

.svg-inline--fa .fa-primary {
    fill: currentColor;
    fill: var(--fa-primary-color, currentColor);
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.svg-inline--fa .fa-secondary {
    fill: currentColor;
    fill: var(--fa-secondary-color, currentColor)
}

.svg-inline--fa .fa-secondary,
.svg-inline--fa.fa-swap-opacity .fa-primary {
    opacity: .4;
    opacity: var(--fa-secondary-opacity, .4)
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
    opacity: 1;
    opacity: var(--fa-primary-opacity, 1)
}

.fad.fa-inverse {
    color: #fff
}

.nuxt-progress {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 2px;
    width: 0;
    opacity: 1;
    transition: width .1s, opacity .4s;
    background-color: #fff;
    z-index: 999999
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

main {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

[type=button],
[type=reset],
[type=submit],
button {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: .35em .75em .625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],
[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

[hidden],
template {
    display: none
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
    margin: 0
}

button {
    background-color: transparent;
    background-image: none;
    padding: 0
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color
}

fieldset,
ol,
ul {
    margin: 0;
    padding: 0
}

ol,
ul {
    list-style: none
}

html {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, Arial, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5
}

*,
:after,
:before {
    box-sizing: border-box;
    border: 0 solid #e2e8f0
}

hr {
    border-top-width: 1px
}

img {
    border-style: solid
}

textarea {
    resize: vertical
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    color: #a0aec0
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: #a0aec0
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
    color: #a0aec0
}

input::placeholder,
textarea::placeholder {
    color: #a0aec0
}

[role=button],
button {
    cursor: pointer
}

table {
    border-collapse: collapse
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit
}

a {
    color: inherit;
    text-decoration: inherit
}

button,
input,
optgroup,
select,
textarea {
    padding: 0;
    line-height: inherit;
    color: inherit
}

code,
kbd,
pre,
samp {
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
    display: block;
    vertical-align: middle
}

img,
video {
    max-width: 100%;
    height: auto
}

.container {
    width: 100%
}

@media (min-width:640px) {
    .container {
        max-width: 640px
    }
}

@media (min-width:768px) {
    .container {
        max-width: 768px
    }
}

@media (min-width:1024px) {
    .container {
        max-width: 1024px
    }
}

@media (min-width:1280px) {
    .container {
        max-width: 1280px
    }
}

.bg-transparent {
    background-color: transparent
}

.bg-black {
    --bg-opacity: 1;
    background-color: #000;
    background-color: rgba(0, 0, 0, var(--bg-opacity))
}

.bg-white {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.bg-gray-400 {
    --bg-opacity: 1;
    background-color: #cbd5e0;
    background-color: rgba(203, 213, 224, var(--bg-opacity))
}

.bg-gray-600 {
    --bg-opacity: 1;
    background-color: #718096;
    background-color: rgba(113, 128, 150, var(--bg-opacity))
}

.bg-gray-900 {
    --bg-opacity: 1;
    background-color: #1a202c;
    background-color: rgba(26, 32, 44, var(--bg-opacity))
}

.bg-red-300 {
    --bg-opacity: 1;
    background-color: #feb2b2;
    background-color: rgba(254, 178, 178, var(--bg-opacity))
}

.bg-red-500 {
    --bg-opacity: 1;
    background-color: #f56565;
    background-color: rgba(245, 101, 101, var(--bg-opacity))
}

.bg-red-600 {
    --bg-opacity: 1;
    background-color: #e53e3e;
    background-color: rgba(229, 62, 62, var(--bg-opacity))
}

.bg-red-700 {
    --bg-opacity: 1;
    background-color: #c53030;
    background-color: rgba(197, 48, 48, var(--bg-opacity))
}

.bg-orange-500 {
    --bg-opacity: 1;
    background-color: #ed8936;
    background-color: rgba(237, 137, 54, var(--bg-opacity))
}

.bg-yellow-500 {
    --bg-opacity: 1;
    background-color: #ecc94b;
    background-color: rgba(236, 201, 75, var(--bg-opacity))
}

.bg-green-300 {
    --bg-opacity: 1;
    background-color: #9ae6b4;
    background-color: rgba(154, 230, 180, var(--bg-opacity))
}

.bg-green-500 {
    --bg-opacity: 1;
    background-color: #48bb78;
    background-color: rgba(72, 187, 120, var(--bg-opacity))
}

.bg-blue-100 {
    --bg-opacity: 1;
    background-color: #ebf8ff;
    background-color: rgba(235, 248, 255, var(--bg-opacity))
}

.bg-blue-200 {
    --bg-opacity: 1;
    background-color: #bee3f8;
    background-color: rgba(190, 227, 248, var(--bg-opacity))
}

.bg-blue-300 {
    --bg-opacity: 1;
    background-color: #90cdf4;
    background-color: rgba(144, 205, 244, var(--bg-opacity))
}

.bg-blue-500 {
    --bg-opacity: 1;
    background-color: #4299e1;
    background-color: rgba(66, 153, 225, var(--bg-opacity))
}

.bg-blue-800 {
    --bg-opacity: 1;
    background-color: #2c5282;
    background-color: rgba(44, 82, 130, var(--bg-opacity))
}

.bg-primary {
    --bg-opacity: 1;
    background-color: #c02486;
    background-color: rgba(192, 36, 134, var(--bg-opacity))
}

.bg-secondary {
    --bg-opacity: 1;
    background-color: #e03270;
    background-color: rgba(224, 50, 112, var(--bg-opacity))
}

.bg-accent {
    --bg-opacity: 1;
    background-color: #fd5921;
    background-color: rgba(253, 89, 33, var(--bg-opacity))
}

.hover\:bg-white:hover {
    --bg-opacity: 1;
    background-color: #fff;
    background-color: rgba(255, 255, 255, var(--bg-opacity))
}

.hover\:bg-gray-200:hover {
    --bg-opacity: 1;
    background-color: #edf2f7;
    background-color: rgba(237, 242, 247, var(--bg-opacity))
}

.hover\:bg-gray-300:hover {
    --bg-opacity: 1;
    background-color: #e2e8f0;
    background-color: rgba(226, 232, 240, var(--bg-opacity))
}

.hover\:bg-green-600:hover {
    --bg-opacity: 1;
    background-color: #38a169;
    background-color: rgba(56, 161, 105, var(--bg-opacity))
}

.hover\:bg-blue-600:hover {
    --bg-opacity: 1;
    background-color: #3182ce;
    background-color: rgba(49, 130, 206, var(--bg-opacity))
}

.bg-opacity-75 {
    --bg-opacity: 0.75
}

.hover\:bg-opacity-50:hover {
    --bg-opacity: 0.5
}

.border-white {
    --border-opacity: 1;
    border-color: #fff;
    border-color: rgba(255, 255, 255, var(--border-opacity))
}

.border-gray-400 {
    --border-opacity: 1;
    border-color: #cbd5e0;
    border-color: rgba(203, 213, 224, var(--border-opacity))
}

.border-blue-300 {
    --border-opacity: 1;
    border-color: #90cdf4;
    border-color: rgba(144, 205, 244, var(--border-opacity))
}

.border-primary {
    --border-opacity: 1;
    border-color: #c02486;
    border-color: rgba(192, 36, 134, var(--border-opacity))
}

.border-secondary {
    --border-opacity: 1;
    border-color: #e03270;
    border-color: rgba(224, 50, 112, var(--border-opacity))
}

.hover\:border-yellow-500:hover {
    --border-opacity: 1;
    border-color: #ecc94b;
    border-color: rgba(236, 201, 75, var(--border-opacity))
}

.focus\:border-secondary:focus {
    --border-opacity: 1;
    border-color: #e03270;
    border-color: rgba(224, 50, 112, var(--border-opacity))
}

.rounded {
    border-radius: .25rem
}

.rounded-lg {
    border-radius: .5rem
}

.rounded-full {
    border-radius: 9999px
}

.rounded-r-lg {
    border-top-right-radius: .5rem;
    border-bottom-right-radius: .5rem
}

.rounded-l-lg {
    border-top-left-radius: .5rem;
    border-bottom-left-radius: .5rem
}

.border-solid {
    border-style: solid
}

.border-2 {
    border-width: 2px
}

.border-4 {
    border-width: 4px
}

.border {
    border-width: 1px
}

.border-b-2 {
    border-bottom-width: 2px
}

.border-t {
    border-top-width: 1px
}

.border-b {
    border-bottom-width: 1px
}

.cursor-pointer {
    cursor: pointer
}

.cursor-not-allowed {
    cursor: not-allowed
}

.block {
    display: block
}

.inline-block {
    display: inline-block
}

.flex {
    display: flex
}

.table {
    display: table
}

.hidden {
    display: none
}

.flex-row {
    flex-direction: row
}

.flex-col {
    flex-direction: column
}

.flex-wrap {
    flex-wrap: wrap
}

.items-end {
    align-items: flex-end
}

.items-center {
    align-items: center
}

.self-center {
    align-self: center
}

.justify-end {
    justify-content: flex-end
}

.justify-center {
    justify-content: center
}

.justify-between {
    justify-content: space-between
}

.flex-auto {
    flex: 1 1 auto
}

.float-right {
    float: right
}

.font-body {
    font-family: Montserrat, sans-serif
}

.font-light {
    font-weight: 300
}

.font-medium {
    font-weight: 500
}

.font-semibold {
    font-weight: 600
}

.font-bold {
    font-weight: 700
}

.h-4 {
    height: 1rem
}

.h-6 {
    height: 1.5rem
}

.h-8 {
    height: 2rem
}

.h-12 {
    height: 3rem
}

.h-16 {
    height: 4rem
}

.h-20 {
    height: 5rem
}

.h-24 {
    height: 6rem
}

.h-32 {
    height: 8rem
}

.h-48 {
    height: 12rem
}

.h-64 {
    height: 16rem
}

.h-px {
    height: 1px
}

.h-full {
    height: 100%
}

.text-xs {
    font-size: .75rem
}

.text-sm {
    font-size: .875rem
}

.text-lg {
    font-size: 1.125rem
}

.text-xl {
    font-size: 1.25rem
}

.text-2xl {
    font-size: 1.5rem
}

.text-3xl {
    font-size: 1.875rem
}

.text-4xl {
    font-size: 2.25rem
}

.leading-tight {
    line-height: 1.25
}

.leading-normal {
    line-height: 1.5
}

.list-none {
    list-style-type: none
}

.mx-0 {
    margin-left: 0;
    margin-right: 0
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.mx-1 {
    margin-left: .25rem;
    margin-right: .25rem
}

.my-2 {
    margin-top: .5rem;
    margin-bottom: .5rem
}

.mx-2 {
    margin-left: .5rem;
    margin-right: .5rem
}

.mx-3 {
    margin-left: .75rem;
    margin-right: .75rem
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}

.mx-4 {
    margin-left: 1rem;
    margin-right: 1rem
}

.mx-5 {
    margin-left: 1.25rem;
    margin-right: 1.25rem
}

.mx-6 {
    margin-left: 1.5rem;
    margin-right: 1.5rem
}

.mx-8 {
    margin-left: 2rem;
    margin-right: 2rem
}

.my-10 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem
}

.mx-10 {
    margin-left: 2.5rem;
    margin-right: 2.5rem
}

.mx-12 {
    margin-left: 3rem;
    margin-right: 3rem
}

.mx-16 {
    margin-left: 4rem;
    margin-right: 4rem
}

.mx-20 {
    margin-left: 5rem;
    margin-right: 5rem
}

.mx-24 {
    margin-left: 6rem;
    margin-right: 6rem
}

.mx-32 {
    margin-left: 8rem;
    margin-right: 8rem
}

.mx-40 {
    margin-left: 10rem;
    margin-right: 10rem
}

.mx-48 {
    margin-left: 12rem;
    margin-right: 12rem
}

.mx-56 {
    margin-left: 14rem;
    margin-right: 14rem
}

.mx-64 {
    margin-left: 16rem;
    margin-right: 16rem
}

.mx-auto {
    margin-left: auto;
    margin-right: auto
}

.mx-px {
    margin-left: 1px;
    margin-right: 1px
}

.mb-0 {
    margin-bottom: 0
}

.ml-1 {
    margin-left: .25rem
}

.mt-2 {
    margin-top: .5rem
}

.mr-2 {
    margin-right: .5rem
}

.mb-2 {
    margin-bottom: .5rem
}

.ml-2 {
    margin-left: .5rem
}

.mt-3 {
    margin-top: .75rem
}

.mr-3 {
    margin-right: .75rem
}

.mb-3 {
    margin-bottom: .75rem
}

.ml-3 {
    margin-left: .75rem
}

.mt-4 {
    margin-top: 1rem
}

.mr-4 {
    margin-right: 1rem
}

.mb-4 {
    margin-bottom: 1rem
}

.mt-5 {
    margin-top: 1.25rem
}

.mr-5 {
    margin-right: 1.25rem
}

.ml-5 {
    margin-left: 1.25rem
}

.mt-6 {
    margin-top: 1.5rem
}

.mb-6 {
    margin-bottom: 1.5rem
}

.ml-6 {
    margin-left: 1.5rem
}

.mt-8 {
    margin-top: 2rem
}

.mb-8 {
    margin-bottom: 2rem
}

.ml-8 {
    margin-left: 2rem
}

.mt-10 {
    margin-top: 2.5rem
}

.mt-12 {
    margin-top: 3rem
}

.mb-12 {
    margin-bottom: 3rem
}

.ml-12 {
    margin-left: 3rem
}

.mt-24 {
    margin-top: 6rem
}

.mt-48 {
    margin-top: 12rem
}

.mr-auto {
    margin-right: auto
}

.-ml-3 {
    margin-left: -.75rem
}

.-mb-4 {
    margin-bottom: -1rem
}

.-mr-6 {
    margin-right: -1.5rem
}

.-ml-6 {
    margin-left: -1.5rem
}

.-mt-12 {
    margin-top: -3rem
}

.-mt-24 {
    margin-top: -6rem
}

.-mt-48 {
    margin-top: -12rem
}

.-mb-px {
    margin-bottom: -1px
}

.opacity-0 {
    opacity: 0
}

.opacity-25 {
    opacity: .25
}

.opacity-50 {
    opacity: .5
}

.hover\:opacity-75:hover {
    opacity: .75
}

.focus\:outline-none:focus,
.outline-none {
    outline: 0
}

.overflow-hidden {
    overflow: hidden
}

.overflow-y-auto {
    overflow-y: auto
}

.p-1 {
    padding: .25rem
}

.p-2 {
    padding: .5rem
}

.p-3 {
    padding: .75rem
}

.p-4 {
    padding: 1rem
}

.p-5 {
    padding: 1.25rem
}

.p-6 {
    padding: 1.5rem
}

.p-8 {
    padding: 2rem
}

.p-12 {
    padding: 3rem
}

.py-1 {
    padding-top: .25rem;
    padding-bottom: .25rem
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem
}

.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem
}

.py-3 {
    padding-top: .75rem;
    padding-bottom: .75rem
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}

.py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem
}

.px-5 {
    padding-left: 1.25rem;
    padding-right: 1.25rem
}

.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

.px-12 {
    padding-left: 3rem;
    padding-right: 3rem
}

.px-16 {
    padding-left: 4rem;
    padding-right: 4rem
}

.pt-2 {
    padding-top: .5rem
}

.pt-3 {
    padding-top: .75rem
}

.pr-4 {
    padding-right: 1rem
}

.pt-5 {
    padding-top: 1.25rem
}

.pt-6 {
    padding-top: 1.5rem
}

.pb-6 {
    padding-bottom: 1.5rem
}

.pb-8 {
    padding-bottom: 2rem
}

.pt-32 {
    padding-top: 8rem
}

.pointer-events-none {
    pointer-events: none
}

.fixed {
    position: fixed
}

.absolute {
    position: absolute
}

.relative {
    position: relative
}

.top-0 {
    top: 0
}

.right-0 {
    right: 0
}

.bottom-0 {
    bottom: 0
}

.left-0 {
    left: 0
}

.shadow {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06)
}

.shadow-lg {
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, .1), 0 4px 6px -2px rgba(0, 0, 0, .05)
}

.shadow-xl {
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04)
}

.shadow-2xl {
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, .25)
}

.fill-current {
    fill: currentColor
}

.table-auto {
    table-layout: auto
}

.text-left {
    text-align: left
}

.text-center {
    text-align: center
}

.text-right {
    text-align: right
}

.text-black {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity))
}

.text-white {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.text-gray-500 {
    --text-opacity: 1;
    color: #a0aec0;
    color: rgba(160, 174, 192, var(--text-opacity))
}

.text-red-500 {
    --text-opacity: 1;
    color: #f56565;
    color: rgba(245, 101, 101, var(--text-opacity))
}

.text-orange-500 {
    --text-opacity: 1;
    color: #ed8936;
    color: rgba(237, 137, 54, var(--text-opacity))
}

.text-orange-900 {
    --text-opacity: 1;
    color: #7b341e;
    color: rgba(123, 52, 30, var(--text-opacity))
}

.text-green-500 {
    --text-opacity: 1;
    color: #48bb78;
    color: rgba(72, 187, 120, var(--text-opacity))
}

.text-green-600 {
    --text-opacity: 1;
    color: #38a169;
    color: rgba(56, 161, 105, var(--text-opacity))
}

.text-blue-500 {
    --text-opacity: 1;
    color: #4299e1;
    color: rgba(66, 153, 225, var(--text-opacity))
}

.text-primary {
    --text-opacity: 1;
    color: #c02486;
    color: rgba(192, 36, 134, var(--text-opacity))
}

.text-secondary {
    --text-opacity: 1;
    color: #e03270;
    color: rgba(224, 50, 112, var(--text-opacity))
}

.text-accent {
    --text-opacity: 1;
    color: #fd5921;
    color: rgba(253, 89, 33, var(--text-opacity))
}

.hover\:text-black:hover {
    --text-opacity: 1;
    color: #000;
    color: rgba(0, 0, 0, var(--text-opacity))
}

.hover\:text-white:hover {
    --text-opacity: 1;
    color: #fff;
    color: rgba(255, 255, 255, var(--text-opacity))
}

.hover\:text-yellow-500:hover {
    --text-opacity: 1;
    color: #ecc94b;
    color: rgba(236, 201, 75, var(--text-opacity))
}

.hover\:text-green-500:hover {
    --text-opacity: 1;
    color: #48bb78;
    color: rgba(72, 187, 120, var(--text-opacity))
}

.hover\:text-green-600:hover {
    --text-opacity: 1;
    color: #38a169;
    color: rgba(56, 161, 105, var(--text-opacity))
}

.hover\:text-primary:hover {
    --text-opacity: 1;
    color: #c02486;
    color: rgba(192, 36, 134, var(--text-opacity))
}

.hover\:text-secondary:hover {
    --text-opacity: 1;
    color: #e03270;
    color: rgba(224, 50, 112, var(--text-opacity))
}

.whitespace-no-wrap {
    white-space: nowrap
}

.w-4 {
    width: 1rem
}

.w-6 {
    width: 1.5rem
}

.w-8 {
    width: 2rem
}

.w-12 {
    width: 3rem
}

.w-16 {
    width: 4rem
}

.w-20 {
    width: 5rem
}

.w-24 {
    width: 6rem
}

.w-32 {
    width: 8rem
}

.w-48 {
    width: 12rem
}

.w-64 {
    width: 16rem
}

.w-1\/2 {
    width: 50%
}

.w-1\/4 {
    width: 25%
}

.w-3\/4 {
    width: 75%
}

.w-2\/5 {
    width: 40%
}

.w-2\/12 {
    width: 16.666667%
}

.w-3\/12 {
    width: 25%
}

.w-7\/12 {
    width: 58.333333%
}

.w-11\/12 {
    width: 91.666667%
}

.w-full {
    width: 100%
}

.z-10 {
    z-index: 10
}

.z-20 {
    z-index: 20
}

.z-50 {
    z-index: 50
}

.transform {
    --transform-translate-x: 0;
    --transform-translate-y: 0;
    --transform-rotate: 0;
    --transform-skew-x: 0;
    --transform-skew-y: 0;
    --transform-scale-x: 1;
    --transform-scale-y: 1;
    transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y))
}

.hover\:scale-110:hover {
    --transform-scale-x: 1.1;
    --transform-scale-y: 1.1
}

.rotate-90 {
    --transform-rotate: 90deg
}

.rotate-180 {
    --transform-rotate: 180deg
}

.hover\:-translate-y-1:hover {
    --transform-translate-y: -0.25rem
}

.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform
}

.ease-in-out {
    transition-timing-function: cubic-bezier(.4, 0, .2, 1)
}

.duration-500 {
    transition-duration: .5s
}

.text-shadow {
    text-shadow: 2px 2px #000
}

@media (min-width:768px) {
    .md\:block {
        display: block
    }

    .md\:flex {
        display: flex
    }

    .md\:hidden {
        display: none
    }

    .md\:flex-row {
        flex-direction: row
    }

    .md\:flex-col {
        flex-direction: column
    }

    .md\:items-start {
        align-items: flex-start
    }

    .md\:justify-start {
        justify-content: flex-start
    }

    .md\:h-16 {
        height: 4rem
    }

    .md\:h-24 {
        height: 6rem
    }

    .md\:h-48 {
        height: 12rem
    }

    .md\:text-lg {
        font-size: 1.125rem
    }

    .md\:text-2xl {
        font-size: 1.5rem
    }

    .md\:text-5xl {
        font-size: 3rem
    }

    .md\:mx-2 {
        margin-left: .5rem;
        margin-right: .5rem
    }

    .md\:mx-12 {
        margin-left: 3rem;
        margin-right: 3rem
    }

    .md\:mx-24 {
        margin-left: 6rem;
        margin-right: 6rem
    }

    .md\:mx-auto {
        margin-left: auto;
        margin-right: auto
    }

    .md\:mt-0 {
        margin-top: 0
    }

    .md\:mb-0 {
        margin-bottom: 0
    }

    .md\:mt-6 {
        margin-top: 1.5rem
    }

    .md\:mr-12 {
        margin-right: 3rem
    }

    .md\:mb-24 {
        margin-bottom: 6rem
    }

    .md\:max-w-md {
        max-width: 28rem
    }

    .md\:p-5 {
        padding: 1.25rem
    }

    .md\:px-12 {
        padding-left: 3rem;
        padding-right: 3rem
    }

    .md\:px-24 {
        padding-left: 6rem;
        padding-right: 6rem
    }

    .md\:w-16 {
        width: 4rem
    }

    .md\:w-24 {
        width: 6rem
    }

    .md\:w-48 {
        width: 12rem
    }

    .md\:w-auto {
        width: auto
    }

    .md\:w-1\/2 {
        width: 50%
    }

    .md\:w-1\/3 {
        width: 33.333333%
    }

    .md\:w-1\/4 {
        width: 25%
    }

    .md\:w-2\/4 {
        width: 50%
    }

    .md\:w-3\/4 {
        width: 75%
    }

    .md\:w-1\/12 {
        width: 8.333333%
    }

    .md\:w-10\/12 {
        width: 83.333333%
    }

    .md\:w-full {
        width: 100%
    }
}

.bg-radial-online {
    background: linear-gradient(180deg, #fff, #f65566)
}

.bg-radial-busy {
    background: linear-gradient(180deg, #fff, #f39d12)
}

.bg-radial-offline {
    background: linear-gradient(180deg, #fff, #000)
}

.bg-radial-button {
    background: radial-gradient(circle at right, #c02486 0, #fd5921 100%)
}

.bg-radial {
    background: radial-gradient(circle at bottom, #fd5921 0, #c02486 100%);
    background-color: #fd5921
}

.bg-body-color {
    background-color: #fcf7eb
}

.credit-package {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADgAAAA4CAMAAACfWMssAAAAPFBMVEX////09ff09PTz9Pb19fXi4+Xj4+Pk5OTj5Ob+/v7k5efk5Ob19vj09vXl5eXj5eTl5efi5OPz9fT///0E3Zn4AAAB1UlEQVRIx52WUbaCMAwFi4AYRUXd/171kjM07ft6+eC0TTMltDcNZVnMlqUUPdPkLf3z2fu00aekQW8uF38wj2Mp8+z9x8P716svMQz+qiwoVzBQYT72tYehzjPOg970ocjFQzVbVzNsGstvR5Ogun0oChF0mtyV7WIuD8pshlmhako2tool1rUe3a9NgwpVXaFIi7BPpzg2Qx7HN6ZAd8fUy1oo/ZgCu1aTYDTF9OnTiPZ2c7886CYdMWmksR91DRfZszWyZcHohsR01EiLtPZ5M4V65GMKJKVaiY1jxUDUetqV8nrlQU2ByaQxkma7kKDG9/uh1SRYt4H7Un0txTKkmTAdjea1RVlQn0uoSFquClVXsaedXx/IYQ81DVY5CyF1JYNe7jzy2b8xCVLOPCyXACm0bX0K+3Ia58G27GCOJaeWITMtjzSzYCyj9Upur0hKQJR9HiSNWvM8fz5gLkH3iZLPgqSRlzqzbasl7v2OS8USX0oe9AYsulFmuMpiqHvtSIL97xCh61EOaHv4lDifB9tSRtqQZqDYYvplQVI2Spxjj6WO61hjXZF58O8vYD2eVpugwp7PPBin6hXco1WGx/vSYHWNvyPxd6jfOmHNP/n/wC87YC8JlGpfQQAAAABJRU5ErkJggg==);
    max-width: 320px
}

.-z-1 {
    z-index: -1
}

.nav-link.nuxt-link-exact-active {
    opacity: .7
}

.form-control {
    width: 100%;
    padding: 6px 12px;
    background: #e9e9e3;
    color: #666;
    border: 1px solid #ccc
}

@media (min-width:75em) {
    .container {
        max-width: 1170px
    }
}

@media (max-width:47.94em) {
    .container {
        max-width: 100%
    }
}

.container {
    margin-right: auto;
    margin-left: auto
}

.height-85 {
    height: 85%
}

.height-overflow {
    max-height: 25rem;
    overflow-y: auto
}

.modal {
    transition: opacity .25s ease
}

body.modal-active {
    overflow-x: hidden;
    overflow-y: visible !important
}

.overflow-toolbar,
.overflow-toolbar-mobile {
    top: 4rem
}

.rounded-button-size {
    height: 100px;
    width: 100px
}

html {
    font-family: Montserrat, sans-serif;
    font-size: 14px;
    font-weight: 200
}

body {
    background-color: #fcf7eb;
    color: #333
}

/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('Montserrat Light'), local('Montserrat-Light'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v14/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_bZF3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cyrillic-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gTD_u50.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* cyrillic */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3g3D_u50.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* vietnamese */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gbD_u50.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gfD_u50.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v14/JTURjIg1_i6t8kCHKm45_dJE3gnD_g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.beamer_beamer {
    background: #fff;
    position: absolute;
    height: 100%;
    border: 0;
    position: absolute;
    height: 100%;
    border: 0;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    z-index: 2147483638
}

.android.beamer_mobile .beamer_beamer.popup {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background: 0 0 !important
}

.beamer_beamer.right {
    right: -400px;
    width: 400px;
    -webkit-transition: right .2s ease-in;
    -o-transition: right .2s ease-in;
    transition: right .2s ease-in
}

.beamer_show .beamer_beamer.right {
    right: 0
}

.beamer_hide .beamer_beamer.right {
    right: -400px
}

.beamer_beamer.left {
    left: -400px;
    width: 400px;
    -webkit-transition: left .2s ease-in;
    -o-transition: left .2s ease-in;
    transition: left .2s ease-in
}

.beamer_show .beamer_beamer.left {
    left: 0
}

.beamer_hide .beamer_beamer.left {
    left: -400px
}

.beamer_beamer.popup:not(.inapp) {
    right: 20px;
    bottom: 80px
}

.beamer_beamer.popup {
    height: 75%;
    webkit-border-radius: 10px;
    border-radius: 10px;
    width: 375px;
    max-height: 75vh;
    max-width: 375px;
    opacity: 0;
    transition: all .5s ease
}

.beamer_bottom .beamer_beamer.popup {
    bottom: 80px
}

.beamer_bottom.beamer_show .beamer_beamer.popup {
    bottom: 100px
}

.beamer_bottom.beamer_hide .beamer_beamer.popup {
    bottom: 80px
}

.beamer_top .beamer_beamer.popup {
    bottom: auto;
    top: 80px
}

.beamer_top.beamer_show .beamer_beamer.popup {
    bottom: auto;
    top: 100px
}

.beamer_top.beamer_hide .beamer_beamer.popup {
    bottom: auto;
    top: 80px
}

.beamer_show .beamer_beamer.popup {
    opacity: 1
}

.beamer_hide .beamer_beamer.popup {
    opacity: 0
}

.beamer_right .beamer_beamer.popup {
    right: 20px;
    left: auto
}

.beamer_left .beamer_beamer.popup {
    right: auto;
    left: 20px
}

.beamer_beamer.fullscreen {
    left: 0;
    width: 100%
}

.beamer_mock_header {
    background: #00d8a6;
    border-bottom: 1px solid #e8e8e8;
    min-height: 99px
}

.beamer_beamer.popup .beamer_mock_header {
    border-radius: 10px 10px 0 0
}

#beamerOverlayPreview {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    opacity: 1;
    z-index: 9999999999;
    top: 0;
    left: 0;
    display: none
}

#beamerOverlay {
    height: 100%;
    width: 100%;
    position: fixed;
    background: rgba(0, 0, 0, .2);
    -webkit-transition: opacity .2s ease-in;
    -o-transition: opacity .2s ease-in;
    transition: opacity .2s ease-in;
    opacity: 1;
    z-index: 9999999999;
    top: 0;
    left: 0;
    display: none;
    overflow: hidden
}

.beamer_show {
    opacity: 1 !important
}

.beamer_hide {
    opacity: 0 !important
}

.beamer_icon,
#beamerIcon {
    display: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in
}

.beamer_icon:hover,
#beamerIcon:hover {
    cursor: pointer;
    opacity: .9
}

.beamer_icon.active,
#beamerIcon.active {
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #ff3e43;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 11px;
    font-family: arial;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    opacity: 1;
    letter-spacing: 0;
    -webkit-animation: beamer_bounce 1.5s linear infinite;
    animation: beamer_bounce 1.5s linear infinite
}

#beamerIconPreview {
    display: none;
    position: relative;
    -webkit-font-smoothing: antialiased;
    opacity: 0;
    -webkit-transition: opacity .5s ease-in;
    -o-transition: opacity .5s ease-in;
    transition: opacity .5s ease-in
}

#beamerIconPreview:hover {
    cursor: pointer;
    opacity: .9
}

#beamerIconPreview.active {
    display: inline-block;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: #ff3e43;
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    font-size: 11px;
    font-family: arial;
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    opacity: 1;
    animation: beamer_bounce 1.5s linear infinite;
    -webkit-animation: beamer_bounce 1.5s linear infinite;
    -moz-animation: beamer_bounce 1.5s linear infinite;
    -ms-animation: beamer_bounce 1.5s linear infinite
}

.beamer_beamerSelectorRelative {
    position: relative
}

.beamer_beamerSelector:hover {
    cursor: pointer;
    opacity: .9
}

#beamerLoader {
    background-image: url(https://app.getbeamer.com/images/loader.gif);
    width: 400px;
    position: absolute;
    height: 100vh;
    z-index: 100;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat
}

#beamerLoaderPreview {
    background-image: url(https://app.getbeamer.com/images/loader.gif);
    width: 400px;
    position: absolute;
    height: 100vh;
    z-index: 100;
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat
}

#beamerPicture {
    opacity: 0;
    display: table;
    position: fixed;
    z-index: 10000000000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .5)
}

#beamerPicture>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

#beamerPicture img {
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, .12);
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, .12);
    max-width: 90%;
    max-height: 90%;
    display: block;
    margin: auto;
    -o-object-fit: contain;
    object-fit: contain
}

.beamer_hideable {
    -webkit-transition: opacity .1s ease-in;
    -o-transition: opacity .1s ease-in;
    transition: opacity .1s ease-in
}

.beamer_visible {
    opacity: 1 !important
}

.beamer_hideLoader {
    opacity: 0
}

@media all and (max-width:800px) {
    .beamer_beamer.right {
        width: 100% !important
    }

    .beamer_beamer.left {
        width: 100% !important
    }

    .beamer_beamer.popup:not(.inapp) {
        width: 90% !important;
        height: 80% !important;
        left: 5% !important;
        top: 10px !important
    }
}

.beamer_noscroll {
    overflow: hidden
}

.beamer_defaultBeamerSelector {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    background-color: #00d8a6;
    background-image: url(https://app.getbeamer.com/images/bell-full.svg);
    border-radius: 50%;
    color: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    background-repeat: no-repeat;
    background-position: 50% 49%;
    z-index: 2147483000 !important;
    -webkit-animation: beamer_pop-in .5s;
    -moz-animation: beamer_pop-in .5s;
    -ms-animation: beamer_pop-in .5s
}

.beamer_defaultBeamerSelector.alert_bubble {
    background-image: url(https://app.getbeamer.com/images/alert-bubble.svg)
}

.beamer_defaultBeamerSelector.alert_circle {
    background-image: url(https://app.getbeamer.com/images/alert-circle.svg)
}

.beamer_defaultBeamerSelector.bell_full {
    background-image: url(https://app.getbeamer.com/images/bell-full.svg)
}

.beamer_defaultBeamerSelector.bell_lines {
    background-image: url(https://app.getbeamer.com/images/bell-lines.svg)
}

.beamer_defaultBeamerSelector.bullhorn {
    background-image: url(https://app.getbeamer.com/images/bullhorn.svg)
}

.beamer_defaultBeamerSelector.flame_alt {
    background-image: url(https://app.getbeamer.com/images/flame-alt.svg)
}

.beamer_defaultBeamerSelector.flame {
    background-image: url(https://app.getbeamer.com/images/ic_whatshot_white_24px.svg)
}

.beamer_defaultBeamerSelector.thumbtack {
    background-image: url(https://app.getbeamer.com/images/thumbtack.svg)
}

.beamer_defaultBeamerSelector.bottom-left {
    bottom: 20px;
    left: 20px;
    right: initial
}

.beamer_defaultBeamerSelector.top-left {
    top: 20px;
    left: 20px;
    bottom: initial;
    right: initial
}

.beamer_defaultBeamerSelector.top-right {
    top: 20px;
    right: 20px;
    bottom: initial
}

.oembedall-container span {
    width: auto !important;
    height: auto !important;
    padding-bottom: 56.25%
}

.oembedall-container div.oembed-responsive {
    padding-bottom: 56.25%;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    position: relative
}

.oembedall-container div.oembed-responsive.youtube {
    padding-bottom: 75%
}

.oembedall-container div.oembed-responsive iframe {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0
}

.iframeCointaner {
    overflow: hidden !important;
    position: initial !important
}

.iframeCointaner iframe {
    overflow: hidden !important
}

.pushModal {
    background: #fff;
    padding: 0;
    border-radius: 2px;
    position: fixed;
    margin: 0 auto;
    max-width: 80%;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    left: 0;
    right: 0;
    top: -180px;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    width: 500px;
    z-index: 2147483647;
    font-family: roboto, sans-serif
}

.pushModal.active {
    top: -20px
}

.pushModal .pushContent {
    color: #424242;
    display: block;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.4;
    padding: 40px 20px 30px
}

.pushModal .pushContent .pushContentText {
    display: inline-block;
    width: calc(100% - 70px);
    margin-left: 10px;
    vertical-align: middle
}

.pushModal .pushContent .pushContentImage {
    display: inline-block;
    vertical-align: middle;
    width: 50px;
    height: 50px;
    background-image: url(https://app.getbeamer.com/images/beamer-push-logo.png);
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat
}

.pushModal .pushActions {
    padding: 20px;
    text-align: right
}

.pushModal .pushActions a {
    color: #8da2b5;
    display: inline-block;
    font-size: 12px;
    font-weight: 400;
    margin-left: 15px;
    text-transform: uppercase;
    text-decoration: none;
    vertical-align: middle;
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    transition: all .3s cubic-bezier(.25, .8, .25, 1)
}

.pushModal .pushActions a:hover {
    color: #007aff;
    cursor: pointer
}

.pushModal .pushActions a.pushButton {
    background: #007aff;
    color: #fff;
    font-weight: 400;
    padding: 10px 28px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-transition: all .28s cubic-bezier(.4, 0, .2, 1);
    -o-transition: all .28s cubic-bezier(.4, 0, .2, 1);
    transition: all .28s cubic-bezier(.4, 0, .2, 1)
}

.pushModal .pushActions a.pushButton:hover {
    background: #0069dc !important;
    color: #fff !important
}

@-webkit-keyframes beamer_pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1)
    }
}

@keyframes beamer_pop-in {
    0% {
        opacity: 0;
        -webkit-transform: scale(.5);
        transform: scale(.5)
    }

    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes beamer_bounce {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-5px)
    }
}

@keyframes beamer_bounce {

    0%,
    20%,
    40%,
    60%,
    80%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px)
    }
}

@media(max-width:800px) {
    .beamer_noscroll {
        overflow: hidden !important;
        height: 100% !important;
        top: 0;
        left: 0
    }

    .beamer_noscroll.beamer_mobile.ios {
        position: fixed !important
    }
}

@media(min-width:800px) {
    iframe.beamer_beamer.popup.inapp {
        height: 480px !important;
        max-height: 80% !important;
        width: 340px;
        max-width: 80%
    }
}

@media(max-width:800px) {
    iframe.beamer_beamer.popup.inapp {
        height: 100vh !important;
        max-height: 100vh !important;
        width: 100vw !important;
        max-width: 100vw !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        top: 0 !important;
        left: 0 !important;
        position: fixed !important;
        transform: translate(0, 0) !important;
        -webkit-transform :translate(0, 0) !important;
        -o-transform: translate(0, 0) !important
        
    }
    iframe.beamer_beamer.popup.inapp::selection{
        outline: none;
    }
}

html.unscrollable,
html.unscrollable * {
    overflow: hidden !important
}

.beamer_mobile,
.beamer_mobile .beamer_beamer.popup.inapp {
    border-radius: 0 !important
}

#beamerLastPostTitle {
    opacity: 0;
    padding: 15px;
    max-width: 520px;
    margin-top: -30px;
    font-family: roboto, sans-serif;
    font-size: 14px;
    background-color: #fff;
    z-index: 2147483637;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px rgba(0, 0, 0, .25);
    -webkit-transition: opacity .5s ease;
    -o-transition: opacity .5s ease;
    transition: opacity .5s ease;
    white-space: nowrap
}

#beamerLastPostTitle[x-placement^=bottom] {
    margin-top: 0
}

#beamerLastPostTitle[x-placement^=bottom],
#beamerLastPostTitle[x-placement^=top] {
    margin-left: 15px
}

#beamerLastPostTitle.active {
    opacity: 1
}

#beamerLastPostTitle:hover {
    cursor: pointer
}

#beamerLastPostTitle:hover .beamerTitle {
    text-decoration: underline
}

#beamerLastPostTitle .beamerCategory {
    display: inline-block;
    padding: 4px 6px;
    font-size: 10px;
    line-height: 10px;
    color: #fff;
    border-radius: 30px;
    margin-right: 5px;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 130px;
    vertical-align: middle
}

#beamerLastPostTitle .beamerTitle {
    display: inline-block;
    color: #000;
    vertical-align: middle;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    max-width: 330px;
    font-weight: 700
}

@media all and (max-width:1200px) {
    #beamerLastPostTitle .beamerTitle {
        max-width: 200px
    }
}

@media all and (max-width:900px) {
    #beamerLastPostTitle {
        display: none !important
    }
}

#beamerLastPostTitle .beamerClose {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    margin: 1px 0 1px 4px;
    fill: rgba(0, 0, 0, .3)
}

#beamerLastPostTitle .beamerClose {
    fill: #000
}

#beamerLastPostTitle .popper__arrow {
    border-color: #fff
}

#beamerLastPostTitle[x-placement^=top] .popper__arrow:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: rgba(0, 0, 0, .11) transparent transparent transparent;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: 8px;
    z-index: 1;
    transform: translateX(-50%)
}

#beamerLastPostTitle[x-placement^=top] .popper__arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 8px 0;
    border-color: #fff transparent transparent transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: 8px;
    z-index: 2;
    transform: translateX(-50%)
}

#beamerLastPostTitle[x-placement^=bottom] .popper__arrow:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px;
    border-color: transparent transparent rgba(0, 0, 0, .11) transparent;
    position: absolute;
    top: -11px;
    left: 50%;
    margin-left: 8px;
    z-index: 1;
    transform: translateX(-50%)
}

#beamerLastPostTitle[x-placement^=bottom] .popper__arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 10px;
    border-color: transparent transparent #fff transparent;
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: 8px;
    z-index: 2;
    transform: translateX(-50%)
}

#beamerLastPostTitle[x-placement^=right] .popper__arrow:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent rgba(0, 0, 0, .11) transparent transparent;
    position: absolute;
    left: -9px;
    top: calc(50% - 8px);
    z-index: 1
}

#beamerLastPostTitle[x-placement^=right] .popper__arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 10px 8px 0;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left: -8px;
    top: calc(50% - 8px);
    z-index: 2
}

#beamerLastPostTitle[x-placement^=left] .popper__arrow:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent rgba(0, 0, 0, .11);
    position: absolute;
    right: -9px;
    top: calc(50% - 8px);
    z-index: 1
}

#beamerLastPostTitle[x-placement^=left] .popper__arrow:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 0 8px 10px;
    border-color: transparent transparent transparent #fff;
    position: absolute;
    right: -8px;
    top: calc(50% - 8px);
    z-index: 2
}

#beamerLastPostTitle .beamerTitleWatermark {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 2px;
    text-align: center
}

#beamerLastPostTitle .beamerTitleWatermark .beamerTitleWatermarkLink {
    font-size: 12px;
    color: rgba(69, 90, 100, .8);
    text-decoration: none
}

#beamerLastPostTitle .beamerTitleWatermark .beamerTitleWatermarkLink:hover {
    text-decoration: underline
}

#beamerLastPostTitle .beamerTitleWatermark .beamerTitleWatermarkLink:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    background-color: rgba(69, 90, 100, .8);
    height: 12px;
    width: 12px;
    margin-top: -1px;
    margin-right: 3px;
    -webkit-mask: url(https://app.getbeamer.com/images/logo.svg) no-repeat 50% 50%;
    mask: url(https://app.getbeamer.com/images/logo.svg) no-repeat 50% 50%;
    -webkit-mask-size: cover;
    mask-size: cover
}

.isBouncy {
    -webkit-animation: beamer_bounce 1.5s linear infinite;
    animation: beamer_bounce 1.5s linear infinite
}

.noBouncy {
    -webkit-animation: none !important;
    animation: none !important
}

.beamer_noscroll.moz.win {
    overflow: initial
}