<template>
    <div>
        <appPackages></appPackages>
        <appDownload></appDownload>
        <appFortuneTellerOfTheWeek></appFortuneTellerOfTheWeek>
        <appBlogAndDreamExp></appBlogAndDreamExp>
    </div>
</template>

<script>
import Packages from '../ui/OurPackages'
import DownloadApp from '../ui/DownloadApp'
import FortuneTellerOfTheWeek from '../ui/FortuneTellerOfTheWeek'
import BlogAndDreamExp from '../ui/BlogAndDreamExp'

export default {
    components: {
        appPackages: Packages,
        appDownload: DownloadApp,
        appFortuneTellerOfTheWeek: FortuneTellerOfTheWeek,
        appBlogAndDreamExp: BlogAndDreamExp,
    }
}
</script>