<template>
    <nav class="bg-radial shadow-xl">
        <app-navbar></app-navbar>
        <app-intro></app-intro>
        <app-variety></app-variety>
    </nav>
</template>

<script>
import Navbar from '../ui/Navbar'
import Intro from '../ui/Intro'
import Variety from '../ui/Variety'

export default {
    components: {
        appVariety: Variety,
        appNavbar: Navbar,
        appIntro: Intro
    }

}
</script>


