<template>
  <div id="app">

    <div id="layout">
      <app-header></app-header>
      <app-body></app-body>
      <app-get-data></app-get-data>
    </div>
    
    <app-footer></app-footer>
    <app-beamer></app-beamer>
    
  </div>
</template>

<script>


import Header from './components/common/Header'
import Body from './components/common/Body'
import Footer from './components/common/Footer'
import Beamer from './components/ui/Beamer'

import GetData from './components/ui/GetData'

export default {
  name: 'app',

  components: {
    appHeader: Header,
    appBody: Body,
    appFooter: Footer,
    appBeamer: Beamer,
    appGetData: GetData
  },

}
</script>

