<template>
    <div id="beamerSelector" 
         class="beamer_defaultBeamerSelector bottom-right beamer_beamerSelector" 
         tabindex="0" 
         role="button" style="background-color: rgb(253, 90, 38);" 
         data-beamer-keypress="true">
         
            <div class="beamer_icon" 
                 style="display: none; background-color: rgb(189, 55, 157);" 
                 data-beamer-keypress="true">1
            </div>
            
    </div>
</template>