<template>
    <div class="flex flex-col">

        <h1 class="text-2xl font-semibold">Fal Sepeti Blog</h1>
                <p class="my-2">Astroloji, burçlar, ilişkiler ve daha birçok konuda sizler için yazıyoruz.</p>        
                <a href="#" class="rounded-lg overflow-hidden relative text-white bg-blog-card bg-black bg-opacity-75 hover:bg-opacity-50">
                    <img alt="" data-srcset="" class="absolute -z-1" src="../../assets/images/fortune.webp">                    
                    <h1 class="text-3xl font-semibold pt-32 px-12 z-10">Burçların En Çekici Özellikleri Nelerdir?</h1>  
                    <p class="z-10 pb-8 px-12">
                        Koç Kadınının En Çekici Özellikleri Pes etmemesi, dürüstlüğü, özgüveni, kendi hakkını 
                        sonuna kadar savunması ile eğlenceyi ve keyfi sevmesi. Koç Erkek...
                    </p>
                </a>
    </div>
                        
</template>