<template>
    <div class="container">
        <div class="mt-12 hidden md:block">
            <div class="flex flex-col md:flex-row items-center justify-center mx-5 md:mx-24">
                <appBlog></appBlog>
                <div class="mx-6"></div>
                <appDreamExp></appDreamExp>
            </div>
        </div>
    </div>
</template>

<script>
import Blog from './Blog'
import DreamExpression from './DreamExpression'
export default {
    components: {
        appBlog: Blog,
        appDreamExp: DreamExpression
    }
}
</script>