<template>
    <div class="container">
        <div class="mx-auto px-5 md:px-24 mt-12">
            <div class="flex flex-col md:flex-row items-center justify-center">
                <picture class="mx-auto md:w-1/2 md:mr-12">
                <source type="image/webp" alt="Web Cover" srcset="../../assets/images/app.webp"> 
                <img alt="Web Cover" srcset="" data-v-300bb6d4="" src="../../assets/images/app.png">
            </picture> 

                <div class="flex flex-col">
                    <h1 class="hidden md:block text-4xl font-bold">GERÇEK FAL DENEYİMİ</h1>        
                    <p class="hidden md:block text-2xl">
                        Gerçek yorumculardan fal yorumu için IOS veya Android telefonunuzdan hemen indirin !
                    </p>

                    <div class="flex justify-center">
                        <a href="#" class="w-2/5 h-2/5 mt-6">
                            <img alt="" srcset="" src="../../assets/images/appStore.png">
                        </a>

                        <div class="mx-4 md:mx-auto"></div>

                        <a href="#" class="w-2/5 h-2/5 mt-6">
                            <img alt="" srcset="" src="../../assets/images/playStore.png">
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
