<template>
    <div class="flex flex-col">
        <h1 class="text-2xl font-semibold">Rüya Tabirleri</h1>
        <p class="my-2">Rüyalarınız neler anlatıyor? Sizin için bulalım. </p>
                
        <div class="rounded-lg overflow-hidden relative text-white bg-blog-card ">
            <img alt="" data-srcset="" class="absolute -z-1 lazyLoad isLoaded" src="../../assets/images/expression.webp">
            <h1 class="text-3xl font-semibold mt-6 text-shadow pt-32 px-12 z-10">
                En kapsamlı, özgün rüya tabirleri
            </h1>

            <div class="z-10 pb-8 px-12 flex mt-3">
                <input type="text" 
                       placeholder="Rüya Tabiri Ara" 
                       value="" 
                       class="shadow-2xl rounded-l-lg py-3 px-2 w-3/4 text-black outline-none">       

                <a class="py-3 px-4 rounded-r-lg bg-white focus:outline-none hover:text-primary text-orange-500">
                    <svg aria-hidden="true"
                         focusable="false" 
                         data-prefix="fas" 
                         data-icon="search" 
                         role="img" 
                         xmlns="http://www.w3.org/2000/svg" 
                         viewBox="0 0 512 512" 
                         class="svg-inline--fa fa-search fa-w-16">

                        <path fill="currentColor" 
                              d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 
                                44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 
                                0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 
                                9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 
                                0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z">
                        </path>
                                            
                    </svg>
                </a>
            </div>
        </div>
    </div>
</template>