<template>
    <div class="flex flex-col items-center md:items-start mx-auto mt-12">
        <div class="container flex flex-col md:items-start items-center"> 

            <h1 class="text-secondary text-3xl font-bold mb-4 mx-5 md:mx-24">
                Haftanın Yorumcusu
            </h1>
            
            <p class="mx-5 mb-4 md:mx-24 font-light">
                Her hafta bir yorumcu sizler için ek açılımlar sunuyor!
            </p>

        </div>

        <div class="flex bg-secondary w-full py-6 px-2 md:px-12">
            <div class="container">
                <div class="container comment-area-bg">
                    <div class="flex flex-col md:flex-row mx-12">
                        <a href="#">
                            <div class="bg-radial-online p-2 rounded">
                                <div class="bg-teller flex flex-col items-center px-6 py-6">
                                    <div class="rounded-full border-4 border-blue-300 profile-photo">
                                        <img 
                                            alt="" 
                                            class="rounded-full lazyLoad isLoaded" 
                                            src="https://d2qly7vspx2wdt.cloudfront.net/profile_images/dh3zdWdhlP2QJLxcadh93ip3dV49rdSad90ECDd1eTMLU5sAIE.jpeg">
                                    </div>

                                    <h2 class="mt-6 text-xl font-semibold">Falcı Nezo</h2>
                                    <p class="mt-2 whitespace-no-wrap font-semibold">Bakılan Fal Sayısı
                                        <span class="text-secondary">2503</span>
                                    </p>
                                    
                                    <div class="d-flex text-secondary mt-3" >
                                        <app-star></app-star>
                                        <app-star></app-star>
                                        <app-star></app-star>
                                        <app-star></app-star>
                                        <app-star></app-star>
                                    </div>

                                    <img src="../../assets/images/foo.png" alt="" class="mt-24">
                                </div>
                            </div>
                        </a>

                        <div class="mx-24"></div>

                        <div class="flex flex-col text-white mt-24">
                            <h1 class="text-lg font-semibold">Falcı Nazo</h1>
                            <h2 class="font-semibold mb-2">Haftanın Yorumcusu</h2>
                            
                            <p>
                               , İlişki analizi için lütfen net bilgileri verin ve muhteşem sonuçlara
                               hazırlıklı olun her şeyin net ve odaklanarak cevap vereceğim bekliyorum.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Stars from './Stars'

export default {
    components: {
        appStar: Stars
    }    
}
</script>