<template>
    <div class="container mt-48">        

         <div class="flex flex-col items-center">
            <h1 class="text-3xl mb-3 font-semibold">Paketler</h1>
            <input v-model.number="range" type="number" placeholder="Görmek İstediğiniz Paket Sayısını Giriniz" min="0" class="shadow-2xl rounded-l-lg py-3 px-2 w-2/4 text-black outline-none justify-center">
            <div v-if="range > 4">Paket sayısını aştınız!</div>
        </div> 
            
        <div class="flex flex-wrap justify-center items-center mt-10" >
            <div class="md:w-1/4" v-for="(item, index) in data" :key="item.id">
                <div v-if="index <= computedRange">
                    <div class="bg-white shadow-2xl rounded credit-package p-12 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 mx-10 my-10 minimize-height">
                        <a href="#" class="flex flex-col items-center">
                            <h1 class="text-3xl font-semibold text-orange-900">{{item.title}}</h1>
                            <p class="text-md mt-6 font-semibold text-center">{{item.description}}</p>
        
                            <div class="mt-6">
                                <div class="h-24 w-24 absolute bg-black rounded-full text-white flex flex-col justify-center items-center z-10">
                                    <p class="text-4xl font-bold">{{item.price}}</p>
                                </div> 
                                <div class="h-24 w-24 bg-secondary ml-12 rounded-full text-white flex flex-col justify-center items-center">
                                        <img width="30" height="30" alt="" src="../../assets/images/package.png">
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>   
</template>

<script>
import axios from 'axios'

export default {
    name: 'GetData',

    data() {
        return {
            range: null,
            data: [],
        }
    },

    mounted() {
        this.getData();
    },

    methods: {
        async getData() {
            try {
                const res = await axios.get('https://api.falsepeti.com/api/credit-packages');
                this.data = res.data.filter(item => !item.only_for_mobile)

            } catch(e) {
                console.log(e)
            }
        },

    },

    computed: {
        computedRange() {
            return this.range - 1;
        },
    }
}
</script>

