<template>
    <div class="container">
        <div class="text-white">
            <div class="flex flex-col items-center mt-12 md:mt-6 md:mt-0">
        
                <h1 class="text-3xl font-semibold text-center">
                        Falsepeti, Gelecek Burada
                </h1>
                <p class="my-4">
                    Falını ve Yorumcunu Seç, Kolayca Gönder.
                </p>
                
            </div>
        </div>
    </div>
</template>