<template>
    <div class="md:flex items-center">

                <a href="#" class="nav-link mx-2 text-sm hover:opacity-75 nuxt-link-exact-active nuxt-link-active">Anasayfa</a>
                    <div class="relative">
                        <button v-on:click="visible = !visible" type="button" class="nav-link mx-2 text-sm hover:opacity-75 outline-none focus:outline-none">Fal Türleri

                            <svg aria-hidden="true" 
                                focusable="false" 
                                data-prefix="fas" 
                                data-icon="chevron-down" 
                                role="img" 
                                viewBox="0 0 448 512" 
                                class="svg-inline--fa fa-chevron-down fa-w-14">
                                
                                    <path fill="currentColor" 
                                        d="M207.029 381.476L12.686 
                                            187.132c-9.373-9.373-9.373-24.569 
                                            0-33.941l22.667-22.667c9.357-9.357 
                                            24.522-9.375 33.901-.04L224 284.505l154.745-154.021c9.379-9.335 
                                            24.544-9.317 33.901.04l22.667 
                                            22.667c9.373 9.373 9.373 24.569 0 33.941L240.971 
                                            381.476c-9.373 9.372-24.569 
                                            9.372-33.942 0z">
                                    </path>
                            </svg>
                        </button> 
                        
                        <div v-show="visible" class="center-dropdown focus:outline-none mt-2 flex flex-col items-center w-48 absolute left-0 bg-white rounded-lg py-2 text-black">
                            <a href="#" 
                               class="px-2 py-1 hover:text-secondary"
                               v-for="kind in kinds" :key="kind">{{kind}}</a> 
                        </div>
                    </div>

                <a href="#" class="nav-link mx-2 text-sm hover:opacity-75">Yorumcular</a>
                <a href="#" class="nav-link mx-2 text-sm hover:opacity-75">İletişim</a>
                <a href="#" class="nav-link mx-2 text-sm border-solid border-2 px-2 py-1 border-white rounded-full hover:opacity-75">Üye Girişi</a>
            </div>
</template>

<script>
export default {
    data() {
        return {
            kinds: ['Kahve Falı', 'Tarot Falı', 'Katina Falı', 'Yıldızname Falı', 'Su Falı'],
            visible: false
        }
    },

    methods: {

      documentClick(e){
        if (!this.$el.contains(e.target)) {
            this.visible = false;
        }
      }
    },
     created () {
      document.addEventListener('click', this.documentClick)
    },
    destroyed () {
        document.removeEventListener('click', this.documentClick)
    }
  }
    
</script>