<template>
    <div class="container">
        <div class="transparent items-center pt-5 md:p-5 text-white flex">
            <a href="#" aria-current="page"><img srcset alt class="ml-5 hidden md:block" src="../../assets/images/logo.svg"></a>          
            <div class="mx-auto"></div>
            <app-menu></app-menu>
        </div>

    </div>
</template>

<script>
    import Menu from './Menu'

    export default {
        components: {
            appMenu: Menu,
        },
    }

</script>