<template>
    <div class="container mt-48">

        <div class="flex flex-col items-center">
            <h1 class="text-3xl mb-3 font-semibold">Fal Paketlerimiz</h1>
            <p class="ml-3">Avantajlı paketlerimiz ile hediye kredilerin tadını çıkartın!</p> 
        </div> 


        <div class="flex flex-wrap justify-center items-center mt-10" >

            <div class="md:w-1/3" v-for="(obj, key) in packs" :key="key">
                <div  class="bg-white shadow-2xl rounded credit-package p-12 transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110 mx-10 my-10 minimize-height">
                    <a href="#" class="flex flex-col items-center" >
                        <h1 class="text-3xl font-semibold text-orange-900">{{obj.title}}</h1>
                        <p class="text-md mt-6 font-semibold text-center">{{obj.explanation}}</p>
      
                        <div class="mt-6">
                            <div class="h-24 w-24 absolute bg-black rounded-full text-white flex flex-col justify-center items-center z-10">
                                <p class="text-4xl font-bold">{{obj.price}}</p>
                            </div> 
                            <div class="h-24 w-24 bg-secondary ml-12 rounded-full text-white flex flex-col justify-center items-center">
                                <img width="30" height="30" alt="" src="../../assets/images/package.png">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            

        </div>

    </div>
</template>

<script>
export default {
    
    data() {
        return {

            packs: [
                {
                    title: "Minik Paket",
                    explanation: "Üyelere özel 500 kredi indirimli sadece 45 TL",
                    price: 45
                },

                {
                    title: "Ekonomik Paket",
                    explanation: "Üyelere özel 1000 kredi indirimli sadece 85 TL",
                    price: 85
                },

                {
                    title: "Süper Paket",
                    explanation: "Üyelere özel 2000 kredi indirimli sadece 160 TL!",
                    price: 160
                }

            ]
        };
    }
    
}
</script>
