<template>
  <div class="hidden md:flex mt-10 justify-center relative overflow-toolbar">
          <a v-for="(obj, key) in varieties" :key="key"  href="#" class="mx-10 flex flex-col items-center transition duration-500 ease-in-out transform hover:-translate-y-1 hover:scale-110">

            <div class="bg-white rounded-full flex items-center justify-center p-5  rounded-button-size">
                <img class="h-16 w-16" :src="getImgUrl(obj.image)">
            </div> 
            
            <p class="text-secondary">{{obj.kind}}</p>
        </a>
        
    </div>
</template>

<script>
export default {
    data() {
        return {
            varieties: [
                
                {
                    id: 1,
                    image: 'coffee.png',
                    kind: 'Kahve Falı'
                },

                {
                    id: 2,
                    image: 'tarot.png',
                    kind: 'Tarot Falı'
                },

                {
                    id: 3,
                    image: 'katina.png',
                    kind: 'Katina Falı'
                },

                {
                    id: 4,
                    image: 'yıldızname.png',
                    kind: 'Yıldızname Falı'
                },

                {
                    id: 5,
                    image: 'su.png',
                    kind: 'Su Falı'
                }
            ]
        }
    },

    methods: {
        getImgUrl(pic) {
            return require('../../assets/images/'+ pic)
        }
    }
}
</script>